# Example .gitignore file for your config dir. Lines with ! will not be ignored.
*
!*.yaml
!.gitignore
*.conf
*.txt
*.log
*.db
.storage
.cloud
.google.token
ip_bans.yaml
secrets.yaml
known_devices.yaml
